.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 1.8rem;
    margin-bottom: 1.6rem;
}

.larger p, .larger ul, .larger ol, .larger li {
    font-size: 1.2rem;
    line-height: 1.8;
}