<h3>{{ i18n "platinumsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-6 my-3 px-5">
            <a href="https://www.d-itlab.co.jp/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/platinum/p01_DENSO ITLAB.png" class="img-fluid" alt="p01_DENSO_ITLAB">
            </a>
        </div>
        <div class="col-md-6 my-3 px-5">
            <a href="https://www.konicaminolta.com/jp-ja/index.html" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/platinum/p02_konicaminolta_500x300.png" class="img-fluid" alt="p02_konicaminolta">
            </a>
        </div>
        <div class="col-md-6 my-3 px-5">
            <img src="{{ .Site.BaseURL }}/sponsors/platinum/p03_hpctech_500x300.png" class="img-fluid" alt="p03_hpctech">
        </div>
    </div>
</div>

<h3>{{ i18n "goldsponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-4 my-3 px-5">
            <a href="https://dena.ai/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/gold/g01_dena_500x300.png" class="img-fluid" alt="g01_dena">
            </a>
        </div>
        <div class="col-md-4 my-3 px-5">
            <a href="https://tur.ing/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/gold/g02_turing-motors.webp" class="img-fluid" alt="g02_turing-motors">
            </a>
        </div>
    </div>
</div>

<h3>{{ i18n "silversponsor" }}</h3>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-3 my-3 px-5">
            <a href="https://www.fastaccounting.jp/" target="_blank">
                <img src="{{ .Site.BaseURL }}/sponsors/silver/s01_fastaccounting_500x300.png" class="img-fluid" alt="20-fastaccounting">
            </a>
        </div>
    </div>
</div>
