{{ $url := "https://script.google.com/macros/s/AKfycbzFxj_Sao5VwfKol_gqhiz_MrDEX0KnNo0eo1IQ6lEw8OMuIHPWFfvw4quo3RT3UzXrGg/exec?sheet=sponsors" }}
{{ $res := resources.GetRemote $url }}

{{ if $res }}
  {{ $data := $res.Content | transform.Unmarshal }}

  {{/* 各ランクの設定（i18nのキー、グリッド幅、スプレッドシート上の値） */}}
  {{ $rankConfigs := slice 
    (dict "id" "platinum" "i18n" "platinumsponsor" "col" "col-md-6")
    (dict "id" "gold"     "i18n" "goldsponsor"     "col" "col-md-4")
    (dict "id" "silver"   "i18n" "silversponsor"   "col" "col-md-3")
  }}

  {{ range $rankConfigs }}
    {{ $cfg := . }}
    {{/* ランクでフィルタリング */}}
    {{ $filtered := where $data "rank" $cfg.id }}

    {{ if $filtered }}
      <h3>{{ i18n $cfg.i18n }}</h3>
      <div class="container text-center">
        <div class="row align-items-center">
          {{ range $filtered }}
            <div class="{{ $cfg.col }} my-3 px-5">
              {{ if .href_en }}
                <a href="{{ .href_en }}" target="_blank">
                  <img src="{{ relURL (printf "sponsors/%s/%s" .rank .image) }}" class="img-fluid" alt="{{ .alt }}">
                </a>
              {{ else }}
                {{/* リンクがない場合の考慮 */}}
                <img src="{{ relURL (printf "sponsors/%s/%s" .rank .image) }}" class="img-fluid" alt="{{ .alt }}">
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}

{{ else }}
  <p class="text-center text-danger">Failed to load sponsor data.</p>
{{ end }}